.container {
  max-width: 1440px;
  background-color: #fff;
  background-repeat: repeat-y;
}

@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/index.css");
@import url("https://i02.appmifile.com/i18n/fonts/CamphorPro/woff2/index.css");


@font-face {
  font-family: 'Xiaomi Brand';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2') format('woff2');
}

body {font-family: "Camphor Pro", sans-serif;}

.img-fluid {width: 100%; height: auto;}

.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Xiaomi Brand";
  position: relative;
  line-height: 1;
  overflow-wrap: break-word;
  color: #292929;
}

.subtitle {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Camphor Pro";
  position: relative;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
}

.p-center {
  font-size: 1.1rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1.3;
  overflow-wrap: break-word;
}

.p-aviso {
  font-size: 1rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
}

.txt-preto {color: #292929;}
.txt-branco {color: #fff;}
.txt-verde {color: #6C8A88;}
.txt-cinza{color:#BEBEBE;}
.txt-orange{color: #FFAF5B;}

.boxcolor {
  background-color: #fff;
}

.boxcolor2 {
  background-color: #fff;
}

.boxcolor3 {
  background-color: #05061a;
}

p.txt-branco-preto {
  color: #fff;
}

.spacing{
  padding: 3rem;
}

/*************************************************** Grid *************************************/

.img-grid-mob{
  display: none;
}
.img-grid-desk{
  display: block;
  padding: 8rem;
}

.icon-white-desk{
  display: block;
}

.icon-dark-mob{
display: none;
}

/**************************************************** Mobile ************************************************/

@media only screen and (max-width: 920px) {

  .icon-white-desk{
    display: none;
  }
  
  .icon-dark-mob{
    display: block;
  }

  .img-grid-desk{
    display: none;
  }

  .img-grid-mob{
    display: block;
    padding: 1rem;
  }


/**************************************** Grind Mobile ********************************/



/************************************************************************************/

  .spacing{
  padding: 1.5rem;
  }

  p.txt-branco-preto {
  color: #05061a;
  }

  .title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  line-height: 1;
  }

  .subtitle {
  text-align: center;
  font-size: 1.09rem;
  font-weight: 700;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  margin-bottom: 0.5rem;
  }

  .p-center {
  font-size: 0.99rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  overflow-wrap: break-word;
  }

  .p-aviso {
  font-size: 0.8rem;
  text-align: center;
  padding: 20px;
  font-family: "Camphor Pro", sans-serif;
  position: relative;
  }



}